mixin recipe(recipe)
  article.recipe
    a.recipe__link(href=`/recipe.html#${recipe.id}` title=`Перейти на страницу рецепта: ${recipe.title}`)
    .recipe__wrapper
      .recipe__image
        img(src=`${recipe.image}` alt='Фото рецепта')
      .recipe__content(class=`${recipe.place ? 'recipe__content--winner' : ''}`)
        div
          p.recipe__category!= recipe.category
          p.recipe__name!= recipe.title
        img(src=`./images/medals/${recipe.place}.svg`)
  //- <a href="/recipe.html#${recipe.id}" class="recipe__link" title="Перейти на страницу рецепта: ${recipe.title}">
  //- </a>
  //- <div class="recipe__wrapper">
  //-   <div class="recipe__image">
  //-     <img src="${recipe.image}" alt="Фото рецепта">
  //-   </div>
  //-   <div class="recipe__content ${place ? "recipe__content--winner" : ""}">
  //-     <div>
  //-       <p class="recipe__category">${recipe.category}</p>
  //-       <p class="recipe__name">${recipe.title}</p>
  //-     </div>
  //-     <img src="./images/medals/${place}.svg">
  //-   </div>
  //- </div>
